ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  float: left;
  padding: 0;
  margin: 0;
}
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
body {
  background: #555;
  color: #5bc0de;
}
#wrapper {
  margin-top: 60px;
}
.blog-masthead {
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #5bc0de;
  box-shadow: 0px -2px 5px rgba(0,0,0,0.1) inset;
}
.blog-masthead .blog-nav .form-group {
  float: right;
  width: 50%;
  margin-bottom: 0;
}
.blog-masthead .blog-nav .form-group .form-control {
  width: 100px !important;
  height: 30px;
  border-radius: 1px;
}
.blog-masthead .blog-nav .form-group ul li {
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}
.blog-masthead .blog-nav .blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-masthead .blog-nav .active {
  color: #fff;
}
.btn-sm {
  border-radius: 1px;
}
.fa {
  font-size: 18px;
}
::-webkit-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}
:-moz-placeholder {
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}
::-moz-placeholder {
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}
:-ms-input-placeholder {
  font-size: 11px;
  line-height: 18px;
  opacity: 0.6;
}
