link(rel="stylesheet" href="/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/style.css")
link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
script(type="text/javascript" src="/lib/knockout.js")
script(type="text/javascript" src="/lib/jquery-1.11.1.min.js")
script(type="text/javascript" src="/app/app.js")