doctype html
html
	head
		title Test
		link(rel="stylesheet" href="/css/bootstrap.min.css")
		link(rel="stylesheet" href="/css/style.css")
		include ../includes/scripts
	body
		header.clearfix
			nav
				ul
					li 
						a link1
					li 
						a link2
					li 
						a link3
		block main