doctype
html
	head
		title Test
		
		include ../includes/scripts
	body
		header.clearfix
			div.clearfix.blog-masthead
				div.row
					div.col-md-10.col-md-offset-1
						nav.blog-nav
							a.blog-nav-item.active(href="/home")
								i.fa.fa-home
							a.blog-nav-item(href="/contact") Contact
						
							form.form-group
								ul 
									li
										a.btn.btn-sm.btn-primary(href="#") Sign Up
									li
										button.btn.btn-sm.btn-primary(data-bind="click: login") Login
									li
										input.form-control(type="password" data-bind="value: password" placeholder="password")
									li
										input.form-control(type="text" data-bind="value: username" placeholder="username")

		block main