extends ../index
block home
	h1 LORIZZLE
	p(style='white-space:pre;')
		| Lorizzle yippiyo dolor funky fresh you son of a bizzle, 
		| crackalackin adipiscing elit. Nullizzle yo mamma velizzle, 
		| crazy volutpizzle, suscipit nizzle, gravida vizzle, arcu.
	.conteiner(data-bind="text: name")